@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-display: var(--font-oswald);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-dim: var(--accent-dim);
}

:root {
  --background: #050505;
  --foreground: #ededed;
  --accent: #f0f0f0;
  --accent-dim: #a1a1a1;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
  cursor: none !important;
}

/* Aggressively hide cursor on everything */
* {
  cursor: none !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}